[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
tensorflow-datasets = "*"
ipywidgets = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.10"
